p {
  font-family: Verdana, DejaVu Sans, sans-serif;
  background: rgb(255, 167, 167);
}

#one {
  color: rgb(000, 000, 255);
  font-size: 36px;
}

.cooler {
  font-size: 24px;
}

#two {
  background: rgb(128, 255, 128);
  font-size: 24px;
  font-weight: bold;
}
