div {
  color: white;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  background-color: red;
}

p {
  background-color: green;
  color: white;
  font-size: 18px;
}

button {
  background-color: orange;
  font-size: 18px;
}
